In [16]:
import pandas as pd
import json
from pymongo import MongoClient
import sqlalchemy
import psycopg2
engine = sqlalchemy.create_engine('postgresql://dap:dap@127.0.0.1:5432/DAPGRPM_DB')
# Making Connection
client = MongoClient("mongodb://%s:%s@127.0.0.1" % ("dap", "dap"))

#database
db = client['DAPGRPM_database']
!pip install psycopg2
import pandas.io.sql as sqlio

Requirement already satisfied: psycopg2 in c:\users\madhu\anaconda3\lib\site-packages (2.9.4)

In [17]:
db.list_collection_names()

['EU_socioeconomic_indicators', 'ireland_population_projection']

In [18]:
sql = """
SELECT * FROM "IRL_PP";
"""
try:
    dbConnection = psycopg2.connect(user = "dap",password = "dap",host = "127.0.0.1",port = "5432",database = "DAPGRPM_DB")
    IRPP = sqlio.read_sql_query(sql, dbConnection)
except (Exception , psycopg2.Error) as dbError :
    print ("Error:", dbError)
finally:
    if(dbConnection): dbConnection.close()

C:\Users\madhu\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning:

pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [19]:
IRPP

       Local_Authority       Scenario  Age  Date Population
0               Carlow       Baseline    0  2020        766
1                Cavan       Baseline    0  2020        988
2                Clare       Baseline    0  2020      1,335
3            Cork City       Baseline    0  2020      2,403
4          Cork County       Baseline    0  2020      4,316
...                ...            ...  ...   ...        ...
262999       Tipperary  Low migration  100  2040         19
263000       Waterford  Low migration  100  2040         12
263001       Westmeath  Low migration  100  2040          9
263002         Wexford  Low migration  100  2040         16
263003         Wicklow  Low migration  100  2040         15

[263004 rows x 5 columns]

In [20]:
IRPP['Population']=IRPP['Population'].str.replace(',','').astype(int)

In [21]:
IRPP['Scenario'].unique()

array(['Baseline', '50:50 City', 'High migration', 'Low migration'],
      dtype=object)

In [ ]:
import plotly.express as px
#df = px.PP
fig = px.line(IRPP, x="Age", y="Population", color="Age", line_group="Scenario", hover_name="Local_Authority",
        line_shape="spline", render_mode="svg")
fig.show()

In [ ]:
import plotly.express as px
#df = px.data.iris()
#fig = px.density_contour(PP, x="Local Authority", y="Population",z="Age")
fig = px.density_contour(IRPP, x="Age", y="Population", facet_col="Scenario",color="Local_Authority")
fig.show()